.card {
    display: flex;
    flex-direction: row;

    cursor: pointer;
}

.cardRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.cardCompetitorAvatar {
    display: flex;
    flex: 0.3;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.cardAvatar {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cardCompetitor {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.challengesIcons {
    display: flex;
    flex: 0.7;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.challengeIcon {
    display: flex;
    width: 4rem;
}

.card:hover, .card:focus {
    animation: animate__bounce 0.1s linear;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 768px) {

    .cardRow {
        padding: 0.5rem;
    }

    .cardCompetitorAvatar {
        flex-direction: column;
        flex: 0.4;
    }

    .cardCompetitor h6 {
        text-align: center;
    }

    .challengesIcons {
        flex: 0.6;
    }

    .challengeIcon {
        width: 2rem;
    }
}
